{erl_opts, [debug_info,
  bin_opt_info,
  {parse_transform, lager_transform}]}.

{deps, [
  {'lager', ".*", {
    git, "git://github.com/basho/lager.git", {branch, "master"}}
  },
  {'protobuffs', ".*", {
  git, "git://github.com/basho/erlang_protobuffs.git", {branch, "master"}}
},
  {'cowboy', ".*", {
    git, "git://github.com/extend/cowboy.git", {tag, "1.0.3"}}
  },
  {'jiffy', {
    git, "git://github.com/davisp/jiffy.git", {branch, "master"}}
  },
  {'jesse', ".*", {
    git, "git://github.com/klarna/jesse.git", {branch, "master"}}
  },
  {uuid, ".*",
    {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}},
  {rstar, {git, "git://github.com/armon/erl-rstar", {branch, "master"}}},
  {gcm, ".*", {git, "https://github.com/pdincau/gcm-erlang.git", {tag, "1.0.1"}}}
]}.

{overrides,
  [{override, jiffy, [
    {plugins, [
      {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
    ]},

    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }]
    }
  ]}
  ]}.
{lager, [
  {handlers, [
    {lager_console_backend, [
      debug,
      {lager_default_formatter, [time, " ", {module,
        [module, {line, [":", line], ""}], ""}, " ", color,  message, {eol, "\e[0m\r\n"}]}
    ]},
    {lager_file_backend,
      [{file, "logs/console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 1}]},
    {lager_file_backend,
      [{file, "logs/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 1}]}
  ]},
  {colored, true},
  {crash_log, "logs/crash.log"},
  {crash_log_msg_size, 65536},
  {crash_log_size, 10485760},
  {crash_log_date, "$D0"},
  {crash_log_count, 1}
]}.

{plugins, [pc]}.

{relx, [{release, { pokemonserv, "0.0.1" },
  [pokemonserv,
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, false},
  {system_libs, false}]}]
}]
}.

{proto_opts, [
  {compiler, protobuffs},
  {src_dirs, ["proto"]}
]}.